*{
  box-sizing: border-box;
  margin: 0;
}

html{
  font-family: system-ui;
}

body{
  display: grid;
  min-height: 200vh;
  background: #f2f2f2;
  grid-template-columns: 15rem 1fr;
  gap: 2rem;
  margin: 0;
}

/* Navigation bar */
nav{
  position: sticky;
  top: 0;
  height: 100svh;
  max-height: 100svh;
  background-color: #4285f4;
  font-size: 20px;
  font-weight: 2;
}

.nav_bar{
  margin: 0;
  padding-block: 2rem;
  list-style: none;
  display: grid;
  gap: 2rem;
}

.nav_bar li{
  padding: 1rem 2rem;
  background: #4285f4;
  border-radius: 100vw 0 0 100vw;
}

.nav_bar a{
  color: #ffffff;
  text-decoration: none;
  position: relative;
  display: block;
  z-index: 10;
}

.nav_bar li.active{
  view-transition-name: activeNavTab;
  background: #f2f2f2;
  position: relative;
}

.nav_bar li:nth-child(1) a{
  view-transition-name: navLink-1;
}

.nav_bar li:nth-child(2) a{
  view-transition-name: navLink-2;
}

.nav_bar li:nth-child(3) a{
  view-transition-name: navLink-3;
}

::view-transition-group(activeNavTab){
  animation-duration: 500ms;
}

.nav_bar li.active::before,
.nav_bar li.active::after{
  --border-radius: 1.5rem;

  content: '';
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  right: 0;
  background-color: #4285f4;
}

.nav_bar li.active::before{
  top: calc(var(--border-radius) * -1);
  border-radius: 0 0 100vw 0;
  box-shadow: 5px 5px 0 5px #f2f2f2;
}

.nav_bar li.active::after{
  bottom: calc(var(--border-radius) * -1);
  border-radius: 0 100vw 0 0;
  box-shadow: 5px -5px 0 5px #f2f2f2;
}

.nav_bar li.active a{
  color: black;
}

.corner_top{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
}

/* Roadmap section */
.roadmap{
  position: absolute;
  display: flex;
  left: 18.65%;
  width: 81.35%;
  background-color: beige;
  justify-content: space-between;
}

.fundamental-left{
  width: 33%;
  height: 50vh;
  background-color: aqua;
}

.fundamental-middle{
  width: 33%;
  height: 50vh;
  background-color: coral;
}

.fundamental-right{
  width: 34%;
  height: 50vh;
  background-color: lawngreen;
}

/* Progress section */
.progress{
  width: 100vw;
  height: 100vh;
}